<div class="container">
  <div id="sidebar" class="col-md-4">
    <div class="row" id="search">
      <div class="col-md-9">
        <input [(ngModel)]="url" type="search" placeholder="rss url" class="form-control" />
      </div>
      <div>
        <button type="button" (click)="addUrl()" class="btn btn-primary col-md-3">Add</button>
      </div>
    </div>
    <div clas="row" id="history">
      <div [ngClass]="{ 'row': true, 'active': selectedUrl == url }" *ngFor="let url of listOfUrls; let i = index;">
        <a (click)="selectUrl(i, true)" class="col-md-10">{{url}}</a>
        <a (click)="removeUrl(i)" class="col-md-2">x</a>
      </div>
    </div>
  </div>
  <div id="feed-main" class="col-md-8">
    <div *ngIf="selectedUrl">
      <h1>{{ selectedUrl }}</h1>
      <rss-item [item]="item" *ngFor="let item of currentItems"></rss-item>
    </div>
    <div *ngIf="!selectedUrl">Nothing to show. </div>
  </div>
</div>